# these ports are all used for displaying a and b
# if need more ports, take from io_shield, but remember to remove those ports
# from io_shield.ucf constraint file
# the numbering of the a_seg reflect the position of the segments on the display
NET "a_seg<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "a_seg<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "a_seg<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "a_seg<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "a_seg<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "a_seg<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "a_seg<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "a_seg<7>" LOC = P123 | IOSTANDARD = LVTTL;

# to select which number to be displayed
# NOTE: THERE ARE 4 NUMBERS ON THE DISPLAY BUT WE ARE
# USING ONLY 3 OF THEM SINCE THE MAX VALUE IS THREE DIGITS LONG
NET "a_sel<0>" LOC = P27 | IOSTANDARD = LVTTL;
NET "a_sel<1>" LOC = P29 | IOSTANDARD = LVTTL;
NET "a_sel<2>" LOC = P30 | IOSTANDARD = LVTTL;

# SAME GOES FOR THIS
NET "b_seg<0>" LOC = P120 | IOSTANDARD = LVTTL;
NET "b_seg<1>" LOC = P121 | IOSTANDARD = LVTTL;
NET "b_seg<2>" LOC = P118 | IOSTANDARD = LVTTL;
NET "b_seg<3>" LOC = P119 | IOSTANDARD = LVTTL;
NET "b_seg<4>" LOC = P116 | IOSTANDARD = LVTTL;
NET "b_seg<5>" LOC = P117 | IOSTANDARD = LVTTL;
NET "b_seg<6>" LOC = P114 | IOSTANDARD = LVTTL;
NET "b_seg<7>" LOC = P115 | IOSTANDARD = LVTTL;

NET "b_sel<0>" LOC = P32 | IOSTANDARD = LVTTL;
NET "b_sel<1>" LOC = P33 | IOSTANDARD = LVTTL;
NET "b_sel<2>" LOC = P34 | IOSTANDARD = LVTTL;